# Скопируйте файл и подставьте свои значения:
#   cp config/.env.example config/.env

TODO_PORT=7540
TODO_DBFILE="./scheduler.db"

# Обязательно замените на собственные значения
TODO_PASSWORD="CHANGE_ME"
TODO_HASH_PASSWORD="CHANGE_ME"
TODO_SECRET_JWT="CHANGE_ME"
